
<div id="style-guide" ng-switch="StyleGuide.currentState">
	<styleguide-atoms ng-switch-when="atoms"></styleguide-atoms>
	<styleguide-molecules ng-switch-when="molecules"></styleguide-molecules>
	<styleguide-atoms ng-switch-when="organisms"></styleguide-atoms>
	<styleguide-atoms ng-switch-when="layouts"></styleguide-atoms>
	<styleguide-atoms ng-switch-when="pages"></styleguide-atoms>
	<div class="style-guide-all" ng-switch-default>
		<styleguide-atoms></styleguide-atoms>
		<styleguide-molecules></styleguide-molecules>
	</div>
</div>
