
/**Grey**/
$primary-grey: #2A2A2A;
$divider-grey: #434343;
$transparent-grey: rgba(0, 0, 0, 0.6);
$opaque-grey: rgba(0, 0, 0, 0.9);

/**Yellow**/
$faded-yellow: rgba(248, 199, 169, 0.7);
$selected-yellow: rgba(248, 199, 169, 1);

/**Green**/
$faded-green: rgba(201, 248, 169, 0.7);
$selected-green: rgba(201, 248, 169, 1);
$button-green: #009933;

/**Blue**/
$faded-blue: rgba(133, 255, 255, 0.5);
$selected-blue: rgba(133, 255, 255, 1.0);
$button-blue: #0066CC;

/**Pink**/
$faded-pink: rgba(238, 187, 238, 0.7);
$selected-pink: rgba(238, 187, 238, 1);
$button-pink: #CC00CC;

/**Purple**/
$button-purple: #660066;

/**White**/
$faded-white: #EBEBEB;
$selected-white: #EDEDED;
