/**Font families**/
$default-font: 'Open Sans', sans-serif;
$cta-font: 'Lato', sans-serif;

/**Font weights**/
$light: 300;
$normal: 400;
$bold: 500;
$extra-bold: 600;

/**Font sizes**/
$cta-size: 4.75em;
$header1: 4em;
$header2: 2.5em;
$header3: 2.0em;
$default-text: 1em;
$normal-text: 1.1em;
$sub-text: 0.8em;

/**Letter Spacing**/
$cta-spacing: 10px;
$normal-spcing: 2px;
