<div>
	<h1>Atoms</h1>

	<h2>Colors</h2>

	<div class="canvas grey">
		<div class="example yellow">yellow</div>
		<div class="example selected yellow">selected yellow</div>
		<div class="example green">green</div>
		<div class="example selected green">selected green</div>
		<div class="example pink">pink</div>
		<div class="example selected pink">selected pink</div>
		<div class="example blue">blue</div>
		<div class="example selected blue">selected blue</div>
	</div>

	<h2>Headers</h2>

	<div class="canvas">
		<h1>Header 1</h1>
		<h2>Header 2</h2>
		<h3>Header 3</h3>
		<p>Normal</p>
	</div>
<md-button>Button</md-button>
</div>
